<a href="https://colab.research.google.com/github/VitikaJain25/Kaggle-Learn/blob/main/IntroToProgramming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1. Arithmetic and Variables**

**Printing**

In [ ]:
print("Hello, World..!!")

Hello, World..!!

**Arithmetic**

In [ ]:
print(1+2)

3

In [ ]:
print(((1 + 3) * (9 - 2) / 2) ** 2)

196.0

**Comments**

In [ ]:
# Multiply 3 by 2
print(3 * 2)

6

**Variables**
Variable names are ideally short and descriptive. They also need to satisfy several requirements:

*   They can't have spaces (e.g., test var is not allowed)
*   They can only include letters, numbers, and underscores (e.g., test_var! is not allowed)
*   They have to start with a letter or underscore (e.g., 1_var is not allowed)

In [ ]:
# Create a variable called test_var and give it a value of 4+5
test_var = 4 + 5

# Print the value of test_var
print(test_var)

9

**Manipulating variables**

In [ ]:
# Set the value of a new variable to 3
new_var = 3

# Print the value assigned to my_var
print(new_var)

# Change the value of the variable to 100
new_var = 100

# Print the new value assigned to my_var
print(new_var)

3
100

In [ ]:
# Increase the value by 3
new_var = new_var + 3

# Print the value assigned to my_var
print(new_var)

103

**Using multiple variables**

In [ ]:
# Create variables
num_years = 4
days_per_year = 365 
hours_per_day = 24
mins_per_hour = 60
secs_per_min = 60

# Calculate number of seconds in four years
total_secs = secs_per_min * mins_per_hour * hours_per_day * days_per_year * num_years
print(total_secs)

126144000

**Debugging**

One common error when working with variables is to accidentally introduce typos. For instance, if we spell hours_per_day as hours_per_dy, Python will error with message NameError: name 'hours_per_dy' is not defined.

When you see NameError like this, it's an indication that you should check how you have spelled the variable that it references as "not defined". Then, to fix the error, you need only correct the spelling.

In [ ]:
print(hours_per_dy)

NameError: ignored

# **2. Functions**

 A function is a block of code designed to perform a specific task

In [ ]:
# Define the function
def add_three(input_var):
  output_var = input_var + 3
  return output_var

Every function is composed of two pieces: a header and body.


**Header**
The function header defines the name of the function and its argument(s).

1. Every function header begins with def, which tells Python that we are about to define a function.

2. In the example, the function name is add_three

3. In the example, the function name is add_three.

4. In the example, the argument is input_var. The argument is the name of the variable that will be used as input to the function. It is always enclosed in parentheses that apppear immediately after the name of the function. (Note that a function can also have no arguments, or it can have multiple arguments.)

5. For every function, the parentheses enclosing the function argument(s) must be followed by a colon :.


**Body**
The function body specifies the work that the function does.

1. Every line of code in the function body must be indented exactly four spaces. You can do this by pushing the space bar four times, or by hitting the "Tab" button once on your keyboard.

2. The function does its work by running all of the indented lines from top to bottom.
* It takes the argument as input, which in the example is input_var.
* The function creates a new variable output_var with the calculation output_var = input_var + 3.
* Then, the final line of code, called the return statement, just returns the value in output_var as the function's output.

**How to run (or "call") a function**

In more detail,

add_three(10) is the value that we get as output when we supply 10 as the value for input_var and call the add_three() function. When the function runs, it runs all of the code in its body, from top to bottom:

It first calculates output_var = input_var + 3, which sets output_var = 13.

The final line of code is the return statement, which returns the value of output_var, which is 13.

By setting new_number = add_three(10), we set new_number = 13.

In [ ]:
# Run the function with 10 as input
new_number = add_three(10)

# Check that the value is 13, as expected
print(new_number)

13

**Naming functions**

When naming your own functions, you should use only lowercase letters, with words separated by underscores instead of spaces.

**A more complex example**

Say you are helping a friend to calculate their weekly paycheck after taxes.

They're in a 12% tax bracket (in other words, 12% of their salary is taken for taxes, and they only take home 88%), and

They're paid hourly, at a rate of $15/hour.

In [9]:
def get_pay(num_hours):
  # Pre-tax pay, based on receiving $15/hour
  pay_pretax = num_hours * 15
  # After-tax pay, based on being in 12% tax bracket
  pay_aftertax = pay_pretax * .88
  return pay_aftertax

In [11]:
# Calculate pay based on working 40 hours
pay_fulltime = get_pay(40)
print(pay_fulltime)

528.0

In [12]:
pay_parttime = get_pay(32)
print(pay_parttime)

422.4

**Variable "scope"**

Variables defined inside the function body cannot be accessed outside of the function. For instance, the next code cell errors, because pay_aftertax only exists inside the function.

In [13]:
print(pay_aftertax)

NameError: ignored

You will get the same error if you try to print pay_pretax or num_hours. For this reason, if you need any information from a function, you need to make sure that appears in the return statement at the end of the function.

We refer to a variable's scope as the part of the code where it is accessible. Variables defined inside a function (like pay_aftertax) have a local scope of that function only. However, as you've seen, variables defined outside all functions (like pay_parttime) have a global scope and can be accessed anywhere.

**Functions with multiple arguments**

In [14]:
def get_pay_with_more_inputs(num_hours, hourly_wage, tax_bracket):
    # Pre-tax pay
    pay_pretax = num_hours * hourly_wage
    # After-tax pay
    pay_aftertax = pay_pretax * (1 - tax_bracket)
    return pay_aftertax

In [15]:
higher_pay_aftertax = get_pay_with_more_inputs(40, 24, .22)
print(higher_pay_aftertax)

748.8000000000001

In [16]:
same_pay_fulltime = get_pay_with_more_inputs(40, 15, .12)
print(same_pay_fulltime)

528.0

Depending on how we plan to use this new function get_pay_with_more_inputs(), it can be more useful than the original function get_pay(), because it addresses more cases. Instead of potentially incorrectly assuming the hourly wage and tax bracket, the new function allows the user to specify the correct values. But, if you're sure the hourly wage and tax bracket won't need to change, the new function is just more complicated than necessary. In general, when defining functions, you'll need to consider how much flexibility you need, based on your use case.

**Functions with no arguments**

It's possible to define function with no arguments, and that don't have a return statement. The print_hello() function in the code cell below is an example.

In [17]:
# Define the function with no arguments and with no return
def print_hello():
    print("Hello, you!")
    print("Good morning!")
    
# Call the function
print_hello()

Hello, you!
Good morning!

### **3. Data Types**

Explore integers, floats, booleans, and strings.

Data types are important, because they determine what kinds of actions you can do with them. For instance, you can divide two floats, but you cannot divide two strings. For instance, 12.0/2.0 makes sense, but "cat"/"dog" does not.

**Integers**
Integers are numbers without any fractional part and can be positive (1, 2, 3, ...), negative (-1, -2, -3, ...), or zero (0).

In [18]:
x = 14
print(x)
print(type(x))

14
<class 'int'>

**Floats**

Floats are numbers with fractional parts. They can have many numbers after decimal.

In [19]:
nearly_pi = 3.141592653589793238462643383279502884197169399375105820974944
print(nearly_pi)
print(type(nearly_pi))

3.141592653589793
<class 'float'>

In [20]:
almost_pi = 22/7
print(almost_pi)
print(type(almost_pi))

3.142857142857143
<class 'float'>

In [21]:
# round() function is particularly useful for fractions. It lets you round a number to a specified number of decimal places.

# Round to 5 decimal places
rounded_pi = round(almost_pi, 5)
print(rounded_pi)
print(type(rounded_pi))

3.14286
<class 'float'>

In [ ]:
# Whenever you write an number with a decimal point, Python recognizes it as a float data type.
#For instance, 1. (or 1.0, 1.00, etc) will be recognized as a float. This is the case, even though these numbers technically have no fractional part!

y_float = 1.
print(y_float)
print(type(y_float))

**Booleans**

Booleans represent one of two values: True or False. In the code cell below, z_one is set to a boolean with value True.

In [22]:
z_one = True
print(z_one)
print(type(z_one))

True
<class 'bool'>

In [23]:
# Booleans are used to represent the truth value of an expression. Since 1 < 2 is a true statement, z_three takes on a value of True.

z_three = (1 < 2)
print(z_three)
print(type(z_three))

True
<class 'bool'>

In [24]:
# Since 5 < 3 is a false statement, z_four takes on a value of False.

z_four = (5 < 3)
print(z_four)
print(type(z_four))

False
<class 'bool'>

In [25]:
# We can switch the value of a boolean by using not. So, not True is equivalent to False, and not False becomes True.

z_five = not z_four
print(z_five)
print(type(z_five))

True
<class 'bool'>

**Strings**

The string data type is a collection of characters (like alphabet letters, punctuation, numerical digits, or symbols) contained in quotation marks. Strings are commonly used to represent text.

In [26]:
w = "Hello, Python!"
print(w)
print(type(w))

Hello, Python!
<class 'str'>

In [27]:
# Length of the String.
print(len(w))

14

In [28]:
# Empty string, which has length zero.
shortest_string = ""
print(type(shortest_string))
print(len(shortest_string))

<class 'str'>
0

In [29]:
# If you put a number in quotation marks, it has a string data type.

my_number = "1.12321"
print(my_number)
print(type(my_number))

1.12321
<class 'str'>

In [31]:
# If we have a string that is convertible to a float, we can use float().

# This won't always work! For instance, we can convert "10.43430" and "3" to floats, but we cannot convert "Hello, Python!" to a float.

also_my_number = float(my_number)
print(also_my_number)
print(type(also_my_number))

1.12321
<class 'float'>

In [32]:
# Just like you can add two numbers (floats or integers), you can also add two strings. 
#It results in a longer string that combines the two original strings by concatenating them.

new_string = "abc" + "def"
print(new_string)
print(type(new_string))

abcdef
<class 'str'>

In [33]:
# It's not possible to do subtraction or division with two strings. 
# You also can't multiply two strings, but you can multiply a string by an integer. 
# This again results in a string that's just the original string concatenated with itself a specified number of times.

newest_string = "abc" * 3
print(newest_string)
print(type(newest_string))

abcabcabc
<class 'str'>

In [34]:
# Note that you cannot multiply a string by a float! Trying to do so will return an error.

will_not_work = "abc" * 3.

TypeError: ignored

### **4. Conditions and Conditional Statements**

**Conditions**

In programming, conditions are statements that are either True or False.

In [1]:
#You can also use conditions to compare the values of variables. 

var_one = 1
var_two = 2

print(var_one < 1)
print(var_two >= var_one)

False
True

Important Note: When you check two values are equal, make sure you use the == sign, and not the = sign.

var_one==1 checks if the value of var_one is 1, 
but var_one=1 sets the value of var_one to 1.

**Conditional statements**

Conditional statements use conditions to modify how your function runs. They check the value of a condition, and if the condition evaluates to True, then a certain block of code is executed. (Otherwise, if the condition is False, then the code is not run.)

**"if" statements**

In [2]:
def evaluate_temp(temp):
    # Set an initial message
    message = "Normal temperature."
    # Update value of message only if temperature greater than 38
    if temp > 38:
        message = "Fever!"
    return message

In [3]:
print(evaluate_temp(37))

Normal temperature.

In [5]:
print(evaluate_temp(39))

Fever!

**"if ... else" statements**

We can use "else" statements to run code if a statement is False. The code under the "if" statement is run if the statement is True, and the code under "else" is run if the statement is False.

In [6]:
def evaluate_temp_with_else(temp):
    if temp > 38:
        message = "Fever!"
    else:
        message = "Normal temperature."
    return message

In [7]:
print(evaluate_temp_with_else(37))

Normal temperature.

**"if ... elif ... else" statements**

We can use "elif" (which is short for "else if") to check if multiple conditions might be true.

In [8]:
def evaluate_temp_with_elif(temp):
    if temp > 38:
        message = "Fever!"
    elif temp > 35:
        message = "Normal temperature."
    else:
        message = "Low temperature."
    return message

In [9]:
evaluate_temp_with_elif(36)

'Normal temperature.'

In [10]:
evaluate_temp_with_elif(34)

'Low temperature.'

**Example - Calculations**

We can also use conditional statements to perform different calculations.

In [11]:
def get_taxes(earnings):
    if earnings < 12000:
        tax_owed = .25 * earnings
    else:
        tax_owed = .30 * earnings
    return tax_owed

In [12]:
ana_taxes = get_taxes(9000)
bob_taxes = get_taxes(15000)

print(ana_taxes)
print(bob_taxes)

2250.0
4500.0

In [13]:
# It accepts a number as input and adds three if the input is less than 10, and otherwise adds eight. 

def add_three_or_eight(num):
  if num < 10:
    result = num + 3
  else:
    result = num + 8
  return result

**Example - Multiple "elif" statements**

In [14]:
def get_dose(weight):
    # Dosage is 1.25 ml for anyone under 5.2 kg
    if weight < 5.2:
        dose = 1.25
    elif weight < 7.9:
        dose = 2.5
    elif weight < 10.4:
        dose = 3.75
    elif weight < 15.9:
        dose = 5
    elif weight < 21.2:
        dose = 7.5
    # Dosage is 10 ml for anyone 21.2 kg or over
    else:
        dose = 10
    return dose

In [15]:
print(get_dose(12))

5