<a href="https://colab.research.google.com/github/VitikaJain25/Kaggle-Learn/blob/main/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1. Arithmetic and Variables**

**Printing**

In [2]:
print("Hello, World..!!")

Hello, World..!!

**Arithmetic**

In [3]:
print(1+2)

3

In [4]:
print(((1 + 3) * (9 - 2) / 2) ** 2)

196.0

**Comments**

In [5]:
# Multiply 3 by 2
print(3 * 2)

6

**Variables**
Variable names are ideally short and descriptive. They also need to satisfy several requirements:

*   They can't have spaces (e.g., test var is not allowed)
*   They can only include letters, numbers, and underscores (e.g., test_var! is not allowed)
*   They have to start with a letter or underscore (e.g., 1_var is not allowed)

In [6]:
# Create a variable called test_var and give it a value of 4+5
test_var = 4 + 5

# Print the value of test_var
print(test_var)

9

**Manipulating variables**

In [7]:
# Set the value of a new variable to 3
new_var = 3

# Print the value assigned to my_var
print(new_var)

# Change the value of the variable to 100
new_var = 100

# Print the new value assigned to my_var
print(new_var)

3
100

In [9]:
# Increase the value by 3
new_var = new_var + 3

# Print the value assigned to my_var
print(new_var)

103

**Using multiple variables**

In [10]:
# Create variables
num_years = 4
days_per_year = 365 
hours_per_day = 24
mins_per_hour = 60
secs_per_min = 60

# Calculate number of seconds in four years
total_secs = secs_per_min * mins_per_hour * hours_per_day * days_per_year * num_years
print(total_secs)

126144000

**Debugging**

One common error when working with variables is to accidentally introduce typos. For instance, if we spell hours_per_day as hours_per_dy, Python will error with message NameError: name 'hours_per_dy' is not defined.

When you see NameError like this, it's an indication that you should check how you have spelled the variable that it references as "not defined". Then, to fix the error, you need only correct the spelling.

In [11]:
print(hours_per_dy)

NameError: ignored

# **2. Functions**

 A function is a block of code designed to perform a specific task

In [12]:
# Define the function
def add_three(input_var):
  output_var = input_var + 3
  return output_var

Every function is composed of two pieces: a header and body.


**Header**
The function header defines the name of the function and its argument(s).

1. Every function header begins with def, which tells Python that we are about to define a function.

2. In the example, the function name is add_three

3. In the example, the function name is add_three.

4. In the example, the argument is input_var. The argument is the name of the variable that will be used as input to the function. It is always enclosed in parentheses that apppear immediately after the name of the function. (Note that a function can also have no arguments, or it can have multiple arguments.)

5. For every function, the parentheses enclosing the function argument(s) must be followed by a colon :.


**Body**
The function body specifies the work that the function does.

1. Every line of code in the function body must be indented exactly four spaces. You can do this by pushing the space bar four times, or by hitting the "Tab" button once on your keyboard.

2. The function does its work by running all of the indented lines from top to bottom.
* It takes the argument as input, which in the example is input_var.
* The function creates a new variable output_var with the calculation output_var = input_var + 3.
* Then, the final line of code, called the return statement, just returns the value in output_var as the function's output.

**How to run (or "call") a function**

In [13]:
# Run the function with 10 as input
new_number = add_three(10)

# Check that the value is 13, as expected
print(new_number)

13